body{
  background-color: rgb(197, 89, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
 background-color: #9e2d00;
  width: 450px;
  min-height: 200px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}

.quiz{
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #f3f3f3;
}

.questionSection {
  flex: 0 0 50%;
}

.questionCount {
  margin-bottom: 20px;
}

.questionCount span {
  font-size: 28px;
}

.questionText {
  margin-bottom: 15px;
  
}
.answerSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    width: 100%;
    font-size: 16px;
    color: #f3f3f3;
    background-color: #832500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
    border: 2px solid #7a2402;
    margin: 5px 0;
}

button:hover {
  background-color: #5e1b00;
}